<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrsys.mapper.SalaryStandardMapper">

<insert id="saveUsingGeneratedKeys" parameterType="com.hrsys.pojo.entity.SalaryStandard" useGeneratedKeys="true" keyProperty="standardId">
    INSERT INTO salary_standard (
        name,
        creator,
        registrar,
        registration_time,
        base_salary,
        reviewer,
        review_status,
        review_comment
    ) VALUES (
        #{name},
        #{creator},
        #{registrar},
        #{registrationTime},
        #{baseSalary},
        #{reviewer},
        #{reviewStatus},
        #{reviewComment}
    )
</insert>

</mapper>
